:local(.styles) {

  #image-preview {
    width: 100%;
    height: auto;
    max-width: 30%;
    margin-right: 20px;

    img {
      margin: 0 0 -4px 0px;
    }
  }

  #image-preview,
  #registration-form-container {
    display: inline-block;
    float: left;
  }

  #registration-form-container {
    width: 65%;

    #registration-form {      
      padding: 20px;
      background-color: $beige;
      width: 94.9%;

      h2 {
        font-weight: bold;
        margin-bottom: 10px;
      }

      form {
        margin-top: 30px;
      }
    }
  }

}
