:local(.styles) {

  #image-preview {
    width: 100%;
    height: auto;
    max-width: 30%;
    margin-right: 20px;
    padding: 10px;

    #image-preview-header {
      background: $beige;
      padding: 10px 20px;
      color: $subduedBlack;
    }
  }

  #image-preview,
  #registration-form-container {
    display: inline-block;
    float: left;
  }

  #registration-form-container {
    width: 65%;
    margin-top: 10px;

    #registration-form {      
      padding: 20px;
      background-color: $beige;
      width: 94.9%;

      h2 {
        font-weight: bold;
        margin-bottom: 10px;
      }

      form {
        margin-top: 30px;
      }
    }
  }

}
