@import '../../containers/App/styles/variables';

:local(.styles) {
	text-align: center;

	h2 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 40px;
		display: inline-block;
	}

	#register-actions {
		max-width: 350px;
		margin: 0 auto;

		.btn {
			float: left;
		}

		a#reset {
			position: relative;
			top: 10px;
			float: left;
			margin-left: 20px;
		}
	}
}

:local(.metaMaskModalStyles) {

	.metamask-logo {
		max-width: 200px;
		float: left;
		margin-right: 50px;
	}
}
